/* Settings */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    border-collapse: collapse;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--amarelo-primario);
    color: var(--preto)
}

:root {
    --amarelo-primario: #ffd76e;
    --amarelo-secundario: #f9dba2;
    --vermelho-primario: #842022;
    --vermelho-secundario: #3d0f0f;
    --preto: #1e0707;
    --branco: #fff;
}

html, body {
    background-color: var(--amarelo-primario);
    scroll-behavior: smooth;
    min-height: 100vh;
    height: 100%;
}


::-webkit-scrollbar {
    background-color: var(--amarelo-primario);
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--preto);
    border: 4px solid var(--amarelo-primario);
}

/* General */

main {
    min-height: 100vh;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 35px;
}

/* Timer Title */

.timer {
    text-align: center;
    border-radius: 0 0 70px 0;
    min-height: 70vh;
    background-image: url(../img/background-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-icon {
    cursor: pointer;
    transition: transform .2s ease;
}
.arrow-icon:hover {
    transform: translateY(5px);
}
.arrow-icon svg {
    margin-top: 24px;
    width: 50px;
    fill: var(--amarelo-primario)
}

.timer h1 {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--amarelo-primario);
    margin-bottom: 8px;
}

.timer h1 + p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--amarelo-secundario);
    margin-bottom: 24px;
}

/* Timer Container */

.countdown {
    display: flex;
    color: var(--branco);
    text-align: center;
    gap: 32px;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.countdown h2 {
    font-size: 2rem;
    font-weight: 800;
}

.countdown p {
    text-transform: uppercase;
    font-size: 0.92rem;
    font-weight: 500;

}

/* Placar */
.placar {
    min-height: 50vh;
    background-color: var(--amarelo-primario);
    color: var(--preto);
}

.placar ::selection {
    color: var(--amarelo-primario);
    background-color: var(--preto)
}

.placar h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.placar > p {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

/* Placar Tabela */
.table-progress {
    margin-top: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
}

.table-progress > div {
    display: grid;
    gap: 40px;
    align-items: center;
    grid-template-columns: 70px 1fr 150px;
    width: 100%;
}

.table-progress div h4 {
    font-weight: 400;
    font-size: 1rem;
}

.progress-bar {
    display: block;
    background-color: var(--vermelho-secundario);
    border-radius: 4px;
    height: 45px;
    width: 100%;
    transition: width .24s ease;
}

/* Media Queries */
@media(max-width: 750px) {
    .placar h1 + p {
        font-size: 1.1rem;
    }
    .table-progress {
        gap: 40px;
    }
    .table-progress > div {
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 30px 20px;
        border-radius: 12px;
        gap: 20px;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 500px) {
    .timer {
        background-image: url(../img/background-hero-mobile.png);
        border-radius: 0;
    }
    .countdown {
        flex-direction: column;
    }
}